#about-us {
    margin-top: 2rem;
}

#about-us h3 {
    font-family: 'Abril Fatface', cursive !important;
    font-size: 3rem;
}

.alpha-heading {
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    color: #9CB620;
}
#about-us p {
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 1.5em !important;
    text-align: left;
    font-weight: bold;
    margin-top: 2rem;
}

#about-us img {
    width: 100%;
}
